body{
    background: #F5F6FA;
    font-family: "Inter", sans-serif;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 40px;
  }

.hero{
    height: calc(100vh - 72px);
}

/* styles.css */
.bg-gradient-custom {
    background: linear-gradient(180deg, #ABB9F3 0%, #D0DDE9 32.83%, #EFF4FA 69.23%, #DBEDF5 100%);
  }
  

  @media (max-width: 1281px){
    .hero{
        height:  inherit;
        min-height: 100vh;
    }
  }
